$background-color-base: #ffffff;
$background-color-body: #EBEEF3;

$heading-color: #000000D9;

$highlight-color: #F5222D;
$success-color: #52C41A;
$info-color: #1890FF;
$primary-color: #1890FF;
$error-color: #F5222D;
$text-color: #000000BF;
$text-color-secondary: #00000080;

$header-font-size: 18px;

$shadow-2: 0px 4px 12px 0px rgba(0, 0, 38, 0.2);