$background-color-base: #ffffff;
$background-color-body: #ebeef3;

$heading-color: #000000d9;

$highlight-color: #f5222d;
$success-color: #52c41a;
$info-color: #1890ff;
$primary-color: #1890ff;
$error-color: #f5222d;
$text-color: #000000bf;
$text-color-secondary: #00000080;

$header-font-size: 18px;

$shadow-2: 0px 4px 12px 0px rgba(0, 0, 38, 0.2);
