@import '../../variables/variables.scss';

.wrapper {
    width: 100%; 
}
.container {
    max-width: 384px;
    padding: 48px 32px;
    margin: 59px auto;
    background-color: $background-color-base;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 5, 0.03),
    0px 2px 7px 0px rgba(0, 0, 7, 0.03),
    0px 3px 13px 0px rgba(0, 0, 9, 0.03),
    0px 5px 24px 0px rgba(0, 0, 11, 0.03),
    0px 9px 44px 0px rgba(0, 0, 13, 0.03),
    0px 22px 106px 0px rgba(0, 0, 18, 0.03);
    font-family: "Roboto", Arial, sans-serif;
}

.title {
    font-size: 20px;
    line-height: 28px;
    color: $heading-color;
    margin: 0;
    margin-bottom: 21px;
    text-align: center;
}
.formItem {
    margin: 0;
    margin-bottom: 12px;
    &:last-of-type {
        margin-bottom: 8px;
    }
}
.input {
    max-width: 320px;
    height: 40px;
    border-radius: 4px;
}
.checkbox {
    max-width: 320px;
    padding-top: 8px;
    margin-top: 9px;
    border-top: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.checkbox span:first-of-type {
    margin-top: 3px;
    margin-bottom: auto;
}
.button {
    margin-top: 12px;
    height: 40px;
}
.offer {
    font-size: 12px;
    line-height: 16px;
    color: $text-color-secondary;
    text-align: center;
}
.link {
    color: $primary-color;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}