@import './variables/variables.scss';
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    local("Inter UI Regular"), 
    local("Inter-Regular"), 
    url(./fonts/Inter-UI-Regular.woff), 
    format("woff");
}
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    local("Inter UI Regular"), 
    local("Inter-Regular"), 
    url(./fonts/Inter-UI-Regular.woff2), 
    format("woff2");
}

html {
  font-family: "Inter UI", "system-ui";
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  font-family: "Inter UI", "system-ui";
  box-sizing: inherit;
}

body {
  color: $text-color;
  background-color: $background-color-body;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}

#root {
height: 100%;
}