@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), local('Inter'), url(./assets/fonts/Inter.woff), format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), local('Inter'), url(./assets/fonts/Inter.woff2), format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(./assets/fonts/Roboto-Regular.woff), format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(./assets/fonts/Inter.woff2), format('woff2');
}

html {
  font-family: 'Inter', 'system-ui';
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  background-color: $background-color-body;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

#root {
  height: 100%;
}
